/* flex-card style css */



body {
background-color: #65772b;
max-width: 1500px;
width: 100%;
font-family: Sans-Serif;
background-image: url("../images/o-SCOTLAND-facebook1.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}



.flex_cards_container {
max-width: 100%;
display: flex;
flex-wrap: wrap;
margin: 40px auto 10px;
justify-content: space-around;
}

.individual_flex_card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    background: seagreen;
    opacity: 0.5; /* applies opacity to child elements too */
    padding: 10px;
    margin-bottom: 2%;
    color:white;
  }




.title {
    font-size: 1.5em;
    font-weight: bold;
}

.product_author {
    display: flex;
}

.product, .author {
    flex: 1;
}


.author {
    text-align: right; /* default är text-align: left */
}

.pic_text_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   /*  ?????????????? */
    /* flex-grow: 1; för i.e.11 */
}

.pic_text_button img {
    width: 100%;
    height: auto;
    align-self: center;
    margin: 5px;
}

.pic_text_button button {
    flex: 1;
    color: seagreen;
    background-color: gold;
    margin-top: auto;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: center;
}




@media (min-width: 600px){   /* breakpoint for tablet */

.flex_cards_container {
    flex-flow: row wrap;
    /*för desktopp om div:arna ska vara bredivd varandra*/
    max-width: 1000px;
  }

.individual_flex_card {
    width: 48%;
  }
  
.individual_flex_card:last-child {
    width: 98%;
}
}